.releases-page {
  padding-top: 100px;
  
  .releases-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    
    @include responsive(tablet) {
      grid-template-columns: 1fr;
    }
  }
}